<!-- <div class="example-action-buttons">
  <button mat-button (click)="accordion().openAll()">Expand All</button>
  <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div> -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> English </mat-panel-title>
      <mat-panel-description>
        Explore the world of English
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Class 3 and 4 </mat-panel-title>
          <!-- <mat-panel-description>
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
               A2 - II FLOOR - III A / B
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 5 and 6 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A2 - II FLOOR - III C / D
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

<!--  class 7,8,9  -->
<mat-expansion-panel> <!---Copy From here-->
  <mat-expansion-panel-header>
    <mat-panel-title> Class 7,8 and 9 </mat-panel-title>
    <!-- <mat-panel-description>
  </mat-panel-description> -->
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Rooms </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-action-list>
         A2 - II FLOOR - IV A / B
      </mat-action-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-expansion-panel>


<!-- end class 7,8,9  -->
      
    </mat-accordion>
  </mat-expansion-panel>

<!-- Science-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Science </mat-panel-title>
      <mat-panel-description>
        Enter The World Of Curiosity
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 3 and 4 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A 1- II FLOOR XI A / B, IX B
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 5,6 and 7 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1 II FLOOR BIO LAB & IX A
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 8,9 and 11 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1 II FLOOR PHYSICS LAB & X A
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-expansion-panel>
<!-- end science -->

<!-- Math-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Maths </mat-panel-title>
      <mat-panel-description>
        Enter the kingdom of numbers
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 3 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A2 - III FLOOR - V C V D
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>


      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 4 and 5 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A2 - III FLOOR - V A / B
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>


      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 6,7 and 8 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A2 - III FLOOR - IV C / V E
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

      
    </mat-accordion>
  </mat-expansion-panel>

  <!-- end math -->
<!-- SST -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Social Science </mat-panel-title>
      <mat-panel-description>
        Learn About The World
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 4 and 5 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A 1 -III FLOOR VIII A, B
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 6,7,8,9 and 11 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1 III FLOOR VII A, B, C
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>



    </mat-accordion>
  </mat-expansion-panel>

<!-- end SST -->


<!-- Hindi Sanskrit-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Hindi/Sanskrit </mat-panel-title>
      <mat-panel-description>
        Explore the beauty of Indian Languages
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 3 and 4 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1 -III FLOOR VI A / B
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 5 and 6 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1- III FLOOR VI C
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

      <mat-expansion-panel> <!---Copy From here-->
        <mat-expansion-panel-header>
          <mat-panel-title> Class 7,8 and 9 </mat-panel-title>
          <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Rooms </mat-panel-title>
              <!-- <mat-panel-description>
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-action-list>
              A1 -III FLOOR VI D
            </mat-action-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-expansion-panel>

<!--end Hindi Sanskrit-->

<!-- French -->

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> French </mat-panel-title>
    <mat-panel-description>
      Enter the kingdom of numbers
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 5,6,7,8 and 9 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A1 FIRST FLOOR MUSIC ROOM (HINDUSTANI)
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>


  </mat-accordion>
</mat-expansion-panel>
<!-- end French-->


<!-- Art-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Art And Pottery </mat-panel-title>
    <mat-panel-description>
      Learn About The World
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 3-11 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A1 -I FLOOR ART ROOM, XI C          <br>
            POTTERY - AREA BETWEEN STAGE AND NEW CANTEEN
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

  </mat-accordion>
</mat-expansion-panel>

<!-- end Art-->

<!-- ICT -->

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> ICT </mat-panel-title>
    <mat-panel-description>
      Learn About The World
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 3-5 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A2 - III FLOOR - COMP LAB & IV D
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 6-11 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A 1-  I FLOOR COMPUTER LAB
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>


  </mat-accordion>
</mat-expansion-panel>

<!-- end ICT-->


<!-- Music-->

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Music </mat-panel-title>
    <mat-panel-description>
      Learn About The World
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 6-11 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A 1 - 1 FLOOR MUSIC ROOM (WESTERN) 
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

  </mat-accordion>
</mat-expansion-panel>

<!--end Music-->

<!-- Dance-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Dance </mat-panel-title>
    <mat-panel-description>
      Learn About The World of Dance
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel> <!---Copy From here-->
      <mat-expansion-panel-header>
        <mat-panel-title> Class 3-11 </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rooms </mat-panel-title>
            <!-- <mat-panel-description>
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-list>
            A2 - GROUND FLOOR DANCE ROOM
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

  </mat-accordion>
</mat-expansion-panel>
<!-- end Dance -->